# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe ](#read)
3. [Amostragem (sample)](#amostragem)
3. [Intro sobre métodos de string](#strings)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy  as np
import pandas as pd

# 2. Construindo um dataframe  <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(np.random.randint(100000, size=(1000000, 10)),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

# 3. Amostragem <a name="amostragem"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
# Mostra o total de linhas
df.shape

(1000000, 10)

In [6]:
# Mostra as 5 primeiras linhas como padrão. 
# A quantidade de linhas pode ser passada como parâmetro.
# É um tipo de amostragem
df.head(100)

        A      B      C      D      E      F      G      H      I      J
0   35433  65902  71902  50617  30985   3169  96246   7974  82729  50953
1   17655  87995  64304  17833  24033  38758  56429  28966   3729  59081
2   12701  75640  62322  26803  91472  50009  60411  71141  33534  70535
3   59405  38055  50171  35872  11061    717  18586  51239  95861  46090
4   43106  33766  22746  12182  63573  52190  42116  51070  40402  32896
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
95  57892  82446  97566   3097  42220  37285  42074  42478  70965  17700
96  17153   7583  68792  29647  61942  87128  93394  10686  95583   3940
97  11702  17597  42639  14799  87991   3368  43581  80997  93941  19512
98  86570  96732  35512  96885   5770  88731  54576  94931  83354  31544
99  61298   4863  63236  32392  24514  59075  87409  15853  30753  23445

[100 rows x 10 columns]

In [8]:
# Mostra as 5 últimas linhas como padrão. 
# A quantidade de linhas pode ser passada como parâmetro.
# É um tipo de amostragem
df.tail(100)

            A      B      C      D      E      F      G      H      I      J
999900  74913  16597  31973   2725  60699  89546  66912  76658  32951   8580
999901  16473  36181  58518  99703  39129  54353  89708  56415  35567  21055
999902  37346  67777  79789  46809  19422  58472  23234   7944  25657  38953
999903  14843  26934   7124  47855  23244  39524  81985   3017  15779  38192
999904  98087   1407  15676  66959  67530    907  25159   3393  34606  34060
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
999995  76928  48029  77266   1546  88773  79483  84916  54955  48385  21067
999996  25993  76335  80612  67902  25249  11849  62214  53977  38733  32103
999997  13709  55428  71741  50927  36086  68098  70327  36286  68702  48053
999998  19564  64478  92804  45974   7718  43370   5104  26689  53478  20703
999999  69274  48387  54732  12958  72974  69958  21825  84512  94180  20957

[100 rows x 10 columns]

In [29]:
# Realiza uma amostragem aleatória dos dados 
# Pode fazer por linhas, fração e etc.
df.sample(10)

            A      B      C      D      E      F      G      H      I      J
876247  78974  63228  36674  93768  47042  39026  58731  30810   2254  28957
421964   6626  61698  20760  67486  62378  54440  26653  32743  86035  24093
86115   72653  79486  25359  73162  18162  59961  39345  44741  14911   3574
352318   5877   6043  36059  61501  33853  21716  24460   7405   6999  18993
991621  82358  79000  67749  13071  80717  95612  69807  42590  60718  47569
304177  62884  48907  89073  59089  78984  18675  15662  77605  93986  34688
884152   6790  46941  98741  55997  59294  90959  64366  15068   6067  66071
200362   4156  61234   9576  48359  65071  25807  24449  69912  47737  78812
17559   44835  87716  74353  49753  56196  42305  77023  11693   3753  89925
91503   98304   3841  57072  32635  41783  76145  23055   6522  87865  74442

In [34]:
# Para manter a mesma amostra, basta utilizar o parâmetro random_state
df.sample(10, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  39232  38839  57187  58787  81031  80429  91186  57050  28876  11818
693227  30765  91684  97761  47827  70488  49470  63730  43030  56794  97176
906065  86942  19520  92810  30451  48667  66297  37356  65799  69073  60694
828507  88492  43029  12183  24445  79040  42737  31564  45121  37144  23041
869730  73837  47826  49905  23030   5929  58253  99023  63221  48613   2465
147081  54716  85280  95500  87191  64840  29599  25893  65225   9254  11282
779428  80045  10145  63423  51887  14735  66362  22605  92766   4934  23481
485973   7141  94182  78647  55073  59154  49211  13717  10809  32458  31649
30697   69904   1336   4562  83241  43481  71062  56027  96141  61457  24860
306669  60472  79378  78237  58356  25840  10524  19607  94828  15167   1303

In [39]:
# Pegando uma fração dos dados e fixando-os
df.sample(frac=0.1, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  39232  38839  57187  58787  81031  80429  91186  57050  28876  11818
693227  30765  91684  97761  47827  70488  49470  63730  43030  56794  97176
906065  86942  19520  92810  30451  48667  66297  37356  65799  69073  60694
828507  88492  43029  12183  24445  79040  42737  31564  45121  37144  23041
869730  73837  47826  49905  23030   5929  58253  99023  63221  48613   2465
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
599633  95684  49105  81923  81312  76326  87766  73976  22945  17684  49711
103907   8662  75900  74461  46949  44094  13294  66541  77393  97152  40926
536846  38263  15656  61228  99950  86295  90133  76975  90351  88706  81123
68354   33950  47433  26945  18234  11865  24011  11368   8449  54130  63834
762302  89126  42363  11605  79542   9641  15953  35334  78056  81873  34859

[100000 rows x 10 columns]

# 4. Manipulação de strings - métodos <a name="strings"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [40]:
texto = 'texto'

In [41]:
texto[::-1]

'otxet'

In [42]:
palindromo = 'apos a sopa'

In [43]:
palindromo[::-1]

'apos a sopa'

In [44]:
texto = 'teXTO'
texto.capitalize()

'Texto'

In [45]:
texto.lower()

'texto'

In [46]:
texto.upper()

'TEXTO'

In [47]:
# S.find(sub[, start[, end]]) -> int
texto.find('X')

2

In [48]:
texto[2]

'X'

In [49]:
#S.find(sub[, start[, end]]) -> int
texto.find('x')

-1

In [50]:
#texto.replace(antigo, novo)
texto.replace('XTO','sta')

'testa'