# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Renomeando colunas](#colunas)
4. [Renomeando índices](#indices)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy  as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A   35.899765  121.645616   83.245748  -40.689932
B  -28.942342    0.910653  131.529298    0.574730
C -211.023795  142.667445   40.132214  -42.922510
D -177.472858  -22.790317   34.550542   31.572081
E -175.681271  114.272777  107.440121  -55.283781
F -164.829198  102.480764  101.208344  -90.739390
G  -81.942642   38.538632 -158.376336 -152.693871
H   61.467289   71.234551 -111.535957  115.805618
I   46.339910    7.290166  -72.013718  -58.359624

# 3. Renomeando colunas <a name="colunas"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df.columns

Index(['coluna1', 'coluna2', 'coluna3', 'coluna4'], dtype='object')

In [4]:
df.columns = ['segunda', 'terça', 'quarta', 'quinta']

In [5]:
df.columns

Index(['segunda', 'terça', 'quarta', 'quinta'], dtype='object')

In [6]:
df

      segunda       terça      quarta      quinta
A   35.899765  121.645616   83.245748  -40.689932
B  -28.942342    0.910653  131.529298    0.574730
C -211.023795  142.667445   40.132214  -42.922510
D -177.472858  -22.790317   34.550542   31.572081
E -175.681271  114.272777  107.440121  -55.283781
F -164.829198  102.480764  101.208344  -90.739390
G  -81.942642   38.538632 -158.376336 -152.693871
H   61.467289   71.234551 -111.535957  115.805618
I   46.339910    7.290166  -72.013718  -58.359624

# 4. Renomeando índices <a name="indices"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [7]:
df['coluna5'] = ['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']

In [8]:
df

      segunda       terça      quarta      quinta coluna5
A   35.899765  121.645616   83.245748  -40.689932  letraA
B  -28.942342    0.910653  131.529298    0.574730  letraB
C -211.023795  142.667445   40.132214  -42.922510  letraC
D -177.472858  -22.790317   34.550542   31.572081  letraD
E -175.681271  114.272777  107.440121  -55.283781  letraE
F -164.829198  102.480764  101.208344  -90.739390  letraF
G  -81.942642   38.538632 -158.376336 -152.693871  letraG
H   61.467289   71.234551 -111.535957  115.805618  letraH
I   46.339910    7.290166  -72.013718  -58.359624  letraI

In [9]:
df.set_index('coluna5')
# Para realizar a alteração definitivamente no dataframe
# df = df.set_index('coluna5')

            segunda       terça      quarta      quinta
coluna5
letraA    35.899765  121.645616   83.245748  -40.689932
letraB   -28.942342    0.910653  131.529298    0.574730
letraC  -211.023795  142.667445   40.132214  -42.922510
letraD  -177.472858  -22.790317   34.550542   31.572081
letraE  -175.681271  114.272777  107.440121  -55.283781
letraF  -164.829198  102.480764  101.208344  -90.739390
letraG   -81.942642   38.538632 -158.376336 -152.693871
letraH    61.467289   71.234551 -111.535957  115.805618
letraI    46.339910    7.290166  -72.013718  -58.359624

In [10]:
df

      segunda       terça      quarta      quinta coluna5
A   35.899765  121.645616   83.245748  -40.689932  letraA
B  -28.942342    0.910653  131.529298    0.574730  letraB
C -211.023795  142.667445   40.132214  -42.922510  letraC
D -177.472858  -22.790317   34.550542   31.572081  letraD
E -175.681271  114.272777  107.440121  -55.283781  letraE
F -164.829198  102.480764  101.208344  -90.739390  letraF
G  -81.942642   38.538632 -158.376336 -152.693871  letraG
H   61.467289   71.234551 -111.535957  115.805618  letraH
I   46.339910    7.290166  -72.013718  -58.359624  letraI

In [11]:
df.reset_index()

  index     segunda       terça      quarta      quinta coluna5
0     A   35.899765  121.645616   83.245748  -40.689932  letraA
1     B  -28.942342    0.910653  131.529298    0.574730  letraB
2     C -211.023795  142.667445   40.132214  -42.922510  letraC
3     D -177.472858  -22.790317   34.550542   31.572081  letraD
4     E -175.681271  114.272777  107.440121  -55.283781  letraE
5     F -164.829198  102.480764  101.208344  -90.739390  letraF
6     G  -81.942642   38.538632 -158.376336 -152.693871  letraG
7     H   61.467289   71.234551 -111.535957  115.805618  letraH
8     I   46.339910    7.290166  -72.013718  -58.359624  letraI

In [13]:
df.reset_index(drop=True)
# Para realizar a alteração definitivamente no dataframe
# df.reset_index(drop=True, inplace=True)