# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

NameError: name 'pd' is not defined

In [3]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int)

In [5]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [6]:
df['coluna3'] = df['coluna3'].astype(str)

In [7]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [8]:
df

   coluna1     coluna2              coluna3     coluna4
A      -69 -174.986132  -203.24109550481583  167.651645
B     -153   97.597725   -83.31828848813893   -7.887803
C      -59   59.896312  -111.21779079311563 -101.685820
D      148  -45.905371  -21.505342004482493   -1.890468
E     -143 -135.227579   -128.2657137951501   31.991624
F       84  199.826939  -101.26850129528515  129.207003
G      -17  -83.565887  -133.29952942010016   92.049175
H     -145   91.317843    9.811846029854442 -121.470039
I      101   47.333011   111.55209790468663  -92.941426

## Acrescentando dados faltantes na tabela

In [9]:
df.iloc[4,2]

'-128.2657137951501'

In [10]:
df.iloc[4,2] = np.nan

In [11]:
df

   coluna1     coluna2              coluna3     coluna4
A      -69 -174.986132  -203.24109550481583  167.651645
B     -153   97.597725   -83.31828848813893   -7.887803
C      -59   59.896312  -111.21779079311563 -101.685820
D      148  -45.905371  -21.505342004482493   -1.890468
E     -143 -135.227579                  NaN   31.991624
F       84  199.826939  -101.26850129528515  129.207003
G      -17  -83.565887  -133.29952942010016   92.049175
H     -145   91.317843    9.811846029854442 -121.470039
I      101   47.333011   111.55209790468663  -92.941426

In [12]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [13]:
df

   coluna1     coluna2              coluna3     coluna4
A    -69.0 -174.986132  -203.24109550481583  167.651645
B      NaN   97.597725   -83.31828848813893   -7.887803
C    -59.0   59.896312  -111.21779079311563 -101.685820
D      NaN  -45.905371  -21.505342004482493   -1.890468
E      NaN -135.227579                  NaN         NaN
F     84.0  199.826939  -101.26850129528515  129.207003
G      NaN  -83.565887  -133.29952942010016   92.049175
H   -145.0   91.317843    9.811846029854442 -121.470039
I      NaN   47.333011   111.55209790468663         NaN

In [14]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [15]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [16]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [17]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [19]:
df[df['coluna1'].isna()]

   coluna1     coluna2              coluna3    coluna4
B      NaN   97.597725   -83.31828848813893  -7.887803
D      NaN  -45.905371  -21.505342004482493  -1.890468
E      NaN -135.227579                  NaN        NaN
G      NaN  -83.565887  -133.29952942010016  92.049175
I      NaN   47.333011   111.55209790468663        NaN

In [20]:
df[~df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
A    -69.0 -174.986132  -203.24109550481583  167.651645
C    -59.0   59.896312  -111.21779079311563 -101.685820
F     84.0  199.826939  -101.26850129528515  129.207003
H   -145.0   91.317843    9.811846029854442 -121.470039

In [24]:
df['coluna1']

A    -69.0
B      NaN
C    -59.0
D      NaN
E      NaN
F     84.0
G      NaN
H   -145.0
I      NaN
Name: coluna1, dtype: float64

In [25]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [26]:
df['coluna1'].isna().sum()

5

In [27]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [28]:
df['coluna2']

A   -174.986132
B     97.597725
C     59.896312
D    -45.905371
E   -135.227579
F    199.826939
G    -83.565887
H     91.317843
I     47.333011
Name: coluna2, dtype: float64

In [29]:
df['coluna2'].isna().sum()

0

In [30]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [31]:
df['coluna1']

A    -69.0
B      NaN
C    -59.0
D      NaN
E      NaN
F     84.0
G      NaN
H   -145.0
I      NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [32]:
# Cria uma nova copia do dataframe com os novos valores
df['coluna1'].fillna(0)
# Altera os valores no dataframe original
# df['coluna1'].fillna(0, inplace=True)

A    -69.0
B      0.0
C    -59.0
D      0.0
E      0.0
F     84.0
G      0.0
H   -145.0
I      0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [35]:
df['coluna1']

A    -69.0
B      NaN
C    -59.0
D      NaN
E      NaN
F     84.0
G      NaN
H   -145.0
I      NaN
Name: coluna1, dtype: float64

In [36]:
(-69.0-59.0+84.0-145.0)/4

-47.25

In [37]:
df['coluna1'].mean()

-47.25

In [38]:
med_col1 = df['coluna1'].mean()

In [39]:
df['coluna1'].fillna(med_col1)

A    -69.00
B    -47.25
C    -59.00
D    -47.25
E    -47.25
F     84.00
G    -47.25
H   -145.00
I    -47.25
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [40]:
df['coluna1']

A    -69.0
B      NaN
C    -59.0
D      NaN
E      NaN
F     84.0
G      NaN
H   -145.0
I      NaN
Name: coluna1, dtype: float64

In [41]:
df['coluna1'].sort_values()

H   -145.0
A    -69.0
C    -59.0
F     84.0
B      NaN
D      NaN
E      NaN
G      NaN
I      NaN
Name: coluna1, dtype: float64

In [42]:
(-69.0-59.0)/2

-64.0

In [43]:
# OBS: A mediana é o ponto médio do dado
# Jeito fácil de calcular a mediana
df['coluna1'].median()

-64.0

In [44]:
mediana_col1 = df['coluna1'].median()

In [45]:
df['coluna1'].fillna(mediana_col1)

A    -69.0
B    -64.0
C    -59.0
D    -64.0
E    -64.0
F     84.0
G    -64.0
H   -145.0
I    -64.0
Name: coluna1, dtype: float64

In [46]:
df['coluna1'].fillna(method='ffill')

A    -69.0
B    -69.0
C    -59.0
D    -59.0
E    -59.0
F     84.0
G     84.0
H   -145.0
I   -145.0
Name: coluna1, dtype: float64

In [47]:
df['coluna1'].dropna()

A    -69.0
C    -59.0
F     84.0
H   -145.0
Name: coluna1, dtype: float64

In [48]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2              coluna3     coluna4
A    -69.0 -174.986132  -203.24109550481583  167.651645
C    -59.0   59.896312  -111.21779079311563 -101.685820
F     84.0  199.826939  -101.26850129528515  129.207003
H   -145.0   91.317843    9.811846029854442 -121.470039

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df_dup = pd.concat([df, df.loc['D':'H',:]]).sort_index()
df_dup

      coluna1     coluna2     coluna3     coluna4
A  -85.615599  -66.484134  -19.017714   80.203140
B   75.480333  120.786108   53.255812   35.460009
C   51.060861 -243.253872  -65.290691  177.030987
D   37.957375  -50.940264  -81.971112  -40.792870
D   37.957375  -50.940264  -81.971112  -40.792870
E  -18.700255  -18.102749    7.558966 -224.682700
E  -18.700255  -18.102749    7.558966 -224.682700
F  -47.211503  -23.421448 -109.834247   16.689117
F  -47.211503  -23.421448 -109.834247   16.689117
G  -50.759759   10.278219  147.501700   30.438131
G  -50.759759   10.278219  147.501700   30.438131
H  158.801867 -180.298212  136.915000   61.511512
H  158.801867 -180.298212  136.915000   61.511512
I  -86.395055   51.210380    0.568605  -32.762151

In [4]:
df_dup.drop_duplicates()

      coluna1     coluna2     coluna3     coluna4
A  -85.615599  -66.484134  -19.017714   80.203140
B   75.480333  120.786108   53.255812   35.460009
C   51.060861 -243.253872  -65.290691  177.030987
D   37.957375  -50.940264  -81.971112  -40.792870
E  -18.700255  -18.102749    7.558966 -224.682700
F  -47.211503  -23.421448 -109.834247   16.689117
G  -50.759759   10.278219  147.501700   30.438131
H  158.801867 -180.298212  136.915000   61.511512
I  -86.395055   51.210380    0.568605  -32.762151

In [5]:
df_dup.drop_duplicates(subset=['coluna1'])

      coluna1     coluna2     coluna3     coluna4
A  -85.615599  -66.484134  -19.017714   80.203140
B   75.480333  120.786108   53.255812   35.460009
C   51.060861 -243.253872  -65.290691  177.030987
D   37.957375  -50.940264  -81.971112  -40.792870
E  -18.700255  -18.102749    7.558966 -224.682700
F  -47.211503  -23.421448 -109.834247   16.689117
G  -50.759759   10.278219  147.501700   30.438131
H  158.801867 -180.298212  136.915000   61.511512
I  -86.395055   51.210380    0.568605  -32.762151

In [6]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [7]:
df_dup[df_dup.duplicated()]

      coluna1     coluna2     coluna3     coluna4
D   37.957375  -50.940264  -81.971112  -40.792870
E  -18.700255  -18.102749    7.558966 -224.682700
F  -47.211503  -23.421448 -109.834247   16.689117
G  -50.759759   10.278219  147.501700   30.438131
H  158.801867 -180.298212  136.915000   61.511512

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [145]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [146]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [152]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [147]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [153]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object