# Valores únicos, contadores

In [1]:
import pandas as pd

## Aprovações do Sistema BNDES por UF
link antigo: https://dados.gov.br/dataset/aprovacoes/resource/bbe8210d-e3b1-4db9-94c5-66cfc8ee2a0f

link atual: https://dados.gov.br/dataset/aprovacoes/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf

In [2]:
# LINK ANTIGO
# pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/bbe8210d-e3b1-4db9-94c5-66cfc8ee2a0f/download/aprovacoes-por-uf.csv', sep=';')

# LINK ATUAL
pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf/download/aprovacoes-por-uf-aprovacoes.csv', sep=';')

,ano,mes,acre,amapa,amazonas,para,rondonia,roraima,tocantins,alagoas,...,minas_gerais,rio_de_janeiro,sao_paulo,parana,rio_grande_do_sul,santa_catarina,distrito_federal,goias,mato_grosso,mato_grosso_do_sul
0,1995,1,"0,41869679","0,0","2,23413839","1,84649181","1,04473767","0,0","0,43530234","3,90345966",...,"24,21161259","121,27492154","160,95511135","44,50362458","37,59527024","35,30349192","1,9437482","8,34773228","16,27915326","10,26813495"
1,1995,2,"0,04578434","0,0","2,74517813","42,48085156","0,36960426","0,0","0,64214309","2,29334262",...,"26,77981918","43,42129588","150,04287144","30,00488924","127,62421063","25,61771037","6,73717989","4,2283233","17,33613937","2,98495465"
2,1995,3,"0,58793111","0,0","4,25038413","7,07201709","1,88492287","0,07966938","2,90366427","22,91684798",...,"40,38929874","79,26081391","195,14362719","67,2498400399999","79,49332923","61,3169039300001","4,32211726","17,28640648","40,58887985","15,20808378"
3,1995,4,"0,89306092","0,0","3,3856354","2,73554948","1,96426615","0,0","0,45580241","3,14556117",...,"26,27111669","27,59569635","125,44047338","82,1440808699999","32,5009858","34,56431305","12,23890039","55,16413558","27,22989044","9,6569057"
4,1995,5,"0,0","0,0","7,20134534","2,85948656","1,7582694","0,27605299","1,27020107","1,558083",...,"35,18044643","63,30204158","222,39367098","81,67998936","49,01467171","39,63988675","4,58714604","33,5075155","14,40645992","6,61725569"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2023,5,"2,9526929","1,84252983","15,82920122","52,18019516","44,46045625","5,84700245","34,64959176","7,25643857",...,"508,3502755","243,49690366","759,871707919999","738,88484442","296,78704235","348,97084865","24,62812655","160,42494698","634,09000535","98,25753676"
341,2023,6,"5,82114761","4,45855504","42,33144287","199,12350498","65,0640489","10,66439853","107,61356295","11,04063258",...,"871,818455239999","2025,59660878","3344,93870297","1339,23990597","1649,36703731","703,154742619999","17,43101107","385,30632946","1198,642791","283,36550026"
342,2023,7,"7,31963439","1,34942906","22,2638833","181,33848543","112,43325389","26,03226944","86,86011859","4,90215633",...,"1377,0547156","147,02406694","2371,04068978","2648,77481819001","2355,19499744999","1642,55275494","16,14969795","645,50254482","1356,73015648","235,72183933"
343,2023,8,"9,20683391","0,46635236","30,05863587","166,29291982","153,33249203","14,24900823","140,39128924","14,79223048",...,"2089,74062709","3101,04490729","5739,87475458","2254,49799393","3751,08583995","1682,41353972","13,49502569","543,34431798","1217,88374608","332,98616884"
344,2023,9,"43,72889882","4,48247006","14,42789486","110,99615755","140,43194242","14,47989156","143,06446081","4,73513285",...,"961,25031","241,69710788","13487,30553423","1295,01505855","1259,51126298","795,528509789998","20,82933323","377,35341097","967,0926487","183,5872862"

In [3]:
# LINK ANTIGO
# aprovacoes = pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/bbe8210d-e3b1-4db9-94c5-66cfc8ee2a0f/download/aprovacoes-por-uf.csv', sep=';', decimal=',')

# LINK ATUAL
aprovacoes = pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf/download/aprovacoes-por-uf-aprovacoes.csv', sep=';', decimal=',')
aprovacoes.head(5)

,ano,mes,acre,amapa,amazonas,para,rondonia,roraima,tocantins,alagoas,...,minas_gerais,rio_de_janeiro,sao_paulo,parana,rio_grande_do_sul,santa_catarina,distrito_federal,goias,mato_grosso,mato_grosso_do_sul
0,1995,1,0.418697,0.0,2.234138,1.846492,1.044738,0.000000,0.435302,3.903460,...,24.211613,121.274922,160.955111,44.503625,37.595270,35.303492,1.943748,8.347732,16.279153,10.268135
1,1995,2,0.045784,0.0,2.745178,42.480852,0.369604,0.000000,0.642143,2.293343,...,26.779819,43.421296,150.042871,30.004889,127.624211,25.617710,6.737180,4.228323,17.336139,2.984955
2,1995,3,0.587931,0.0,4.250384,7.072017,1.884923,0.079669,2.903664,22.916848,...,40.389299,79.260814,195.143627,67.249840,79.493329,61.316904,4.322117,17.286406,40.588880,15.208084
3,1995,4,0.893061,0.0,3.385635,2.735549,1.964266,0.000000,0.455802,3.145561,...,26.271117,27.595696,125.440473,82.144081,32.500986,34.564313,12.238900,55.164136,27.229890,9.656906
4,1995,5,0.000000,0.0,7.201345,2.859487,1.758269,0.276053,1.270201,1.558083,...,35.180446,63.302042,222.393671,81.679989,49.014672,39.639887,4.587146,33.507515,14.406460,6.617256

### Identificando e contando valores únicos

In [4]:
aprovacoes['ano'].unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [5]:
aprovacoes['ano'].nunique()

29

In [6]:
aprovacoes['mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [7]:
aprovacoes['mes'].nunique()

12

In [8]:
aprovacoes.columns.unique()

Index(['ano', 'mes', 'acre', 'amapa', 'amazonas', 'para', 'rondonia',
       'roraima', 'tocantins', 'alagoas', 'bahia', 'ceara', 'maranhao',
       'paraiba', 'pernambuco', 'piaui', 'rio_grande_do_norte', 'sergipe',
       'espirito_santo', 'minas_gerais', 'rio_de_janeiro', 'sao_paulo',
       'parana', 'rio_grande_do_sul', 'santa_catarina', 'distrito_federal',
       'goias', 'mato_grosso', 'mato_grosso_do_sul'],
      dtype='object')

In [9]:
aprovacoes.loc[:,'acre':].columns.unique()

Index(['acre', 'amapa', 'amazonas', 'para', 'rondonia', 'roraima', 'tocantins',
       'alagoas', 'bahia', 'ceara', 'maranhao', 'paraiba', 'pernambuco',
       'piaui', 'rio_grande_do_norte', 'sergipe', 'espirito_santo',
       'minas_gerais', 'rio_de_janeiro', 'sao_paulo', 'parana',
       'rio_grande_do_sul', 'santa_catarina', 'distrito_federal', 'goias',
       'mato_grosso', 'mato_grosso_do_sul'],
      dtype='object')

In [10]:
aprovacoes.loc[:,'acre':].columns.nunique()

27

### Gerando o total de aprovações

In [ ]:
aprovacoes.sum()

In [ ]:
aprovacoes.sum(axis=0)

In [ ]:
aprovacoes.sum(axis=1)

In [ ]:
aprovacoes['total']  = aprovacoes.loc[:,'acre':].sum(axis=1)
aprovacoes

In [ ]:
aprovacoes['total'].plot()

In [ ]:
aprovacoes.loc[:]

In [ ]:
aprovacoes.loc[:,'acre':]

In [ ]:
aprovacoes.loc[:,'acre':].sum().plot(kind='bar')

In [ ]:
aprovacoes.loc[:,'acre':'mato_grosso_do_sul'].sum().plot(kind='bar')

In [ ]:
aprovacoes.loc[:,'acre':'mato_grosso_do_sul'].sum().plot(kind='bar', figsize=(15,5))